{% extends 'base.html' %}
{% block pageBody %}
    
    <div class="container my-3">
        <div>
            <h4>Add Things to do in List</h2>
        </div>
        <div class="container border rounded-3">
            <form action="/" method="POST">
                <div class="form-group">
                <label for="task">Enter Remaining Task</label>
                <input type="text" class="form-control" id="task" name="task" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                <label for="desc">Description</label>
                <input type="text" class="form-control" id="desc" name="desc">
                </div>
                <button type="submit" class="btn btn-outline-success my-2">Submit</button>
            </form>
        </div>
    </div>


    <div class="container my-3">
        <div>
            <h4>My List</h4>
        </div>
        <div class="container border rounded-3">
            <div class="py-2">
                {% if todos|length==0 %}
                <div class="alert alert-dark my-1" role="alert">
                    No Work Pending currently. Enjoy the free time!
                </div>
                {% else %}
                <table class="table my-1">
                    <thead>
                        <tr>
                            <th scope="col">Serial no.</th>
                            <th scope="col">Task</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date and Time</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    {% for todo in todos %}
                    <tbody>
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{todo.title}}</td>
                            <td>{{todo.desc}}</td>
                            <td>{{todo.time}}</td>
                            <td>
                                <a href="/update/{{todo.sno}}" type="button" class="btn btn-outline-dark btn-sm">Update</a>
                                <a href="/delete/{{todo.sno}}" type="button" class="btn btn-outline-dark btn-sm">Delete</a>
                            </td>
                        </tr>

                    </tbody>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock pageBody %}