{% extends 'base.html' %}
{% block pageBody %}
<div class="container my-3">
    <div>
        <h4>Update the Task</h2>
    </div>
    <div class="container border rounded-3">
        <form action="/update/{{todo.sno}}" method="POST">
            <div class="form-group">
            <label for="task">Enter Remaining Task</label>
            <input type="text" class="form-control" id="task" name="task" aria-describedby="emailHelp" value="{{todo.title}}">
            </div>
            <div class="form-group">
            <label for="desc">Description</label>
            <input type="text" class="form-control" id="desc" name="desc" value="{{todo.desc}}">
            </div>
            <button type="submit" class="btn btn-outline-success my-2">Submit</button>
        </form>
    </div>
</div>
{% endblock pageBody %}